@font-face {
    font-family: Poppins;
    src: url(../../public/fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(../../public/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(../../public/fonts/Poppins/Poppins-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Poppins;
    src: url(../../public/fonts/Poppins/Poppins-Light.ttf);
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(../../public/fonts/Poppins/Poppins-LightItalic.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Poppins;
    src: url(../../public/fonts/Poppins/Poppins-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Lora;
    src: url(../../public/fonts/Lora-Italic.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(../../public/fonts/Oswald.ttf);
}